/* Global Reset */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.0;
	font-size: 100%;
}

body {
	background: #F4F4F4;
	font-family: serif;
}

h1 {
	color: #333333;
	font-size: 6rem;
	margin-top: 30px;
	font-family: 'Cinzel', serif;
	letter-spacing: 3px;
}

h1 span {
	color: #FFFFFF;
	padding: 0 5px;
}

.MIND {
	color: #333333;
}

a {
	color: #1A8D7C;
	text-decoration: none;
	border-bottom: 1px dotted #1A8D7C;
}

a:hover {
	color: #07594D;
}

#mastermind {
	width: 800px;
	margin: 0 auto;
}

.rules {
	margin: 20px 0;
}

.rules-toggle {
	cursor: pointer;
	font-size: 40px;
}

.info {
	border: #EAEBE9 1px solid;
	padding: 10px;
}

.row {
	padding: 10px 0 10px 10px;
	width: 650px;
	border: #F4F4F4 1px solid;
}

.decode-row {
	opacity: 0.5;
}

.current.row {
	border: #A8A8A8 1px solid;
}

.current .decode-row {
	opacity: 1;
}

input[type="radio"] {
	display: none;
}

.peg input[type="radio"] + label {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border: #EAEBE9 2px solid;
	border-radius: 50%;
	box-sizing: border-box;
}

.selected input[type="radio"] + label {
	border-color: #525554;
}

.M,
.zero input[type="radio"] + label {
	background: #FFB400;
}

.A,
.one input[type="radio"] + label {
	background: #FF5A5F;
}

.S,
.two input[type="radio"] + label {
	background-color: #8CE071;
}

.T,
.three input[type="radio"] + label {
	background-color: #00D1C1;
}

.E,
.four input[type="radio"] + label {
	background-color: #007A87;
}

.R,
.five input[type="radio"] + label {
	background-color: #7B0051;
}

.submit {
	width: 50px;
	height: 88px;
	position: relative;
	margin: 15px 7px;
	border: none;
	cursor: pointer;
	background-color: #F4F4F4;
}

.submit:before {
	left: 16px;
	width: 20px;
	height: 40px;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: #B4BB69;
	margin-top: -11px;
	transform: rotate(45deg);
	content: "";
	position: absolute;
	top: 28%;
}

.submit:after {
	content: "";
	position: absolute;
	top: 50%;
}

.hints-row {
	width: 64px;
	margin-top: 32px;
}

.hint {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #28222D;
	border-radius: 50%;
}

.hint.exact-matches {
	background-color: #555461;
}

.hint.value-matches {
	background-color: #D4D9E3;
}

.codepegs {
	width: 122px;
	margin-top: 10px;
}

.codepegs .peg input[type="radio"] + label {
	margin-top: 0;
}

/* end game overlay */

.endgame {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	z-index:1;
	height: 100%;
}

.success {
	background-color: #00C653;
}

.failure {
	background-color: #DB4445;
}

.endgame-relative {
	position: relative;
	left: 50%;
	top: 40%;
	margin-left: -170px;
	padding: 20px;
	width: 300px;
	z-index: 3;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	text-align: center;
	color: #FFFFFF;
}

.endgame-header {
	font-family: 'Cinzel', serif;
	font-size: 30px;
}

.endgame-btn-container {
	text-align: center;
}

.endgame-btn {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	margin-top: 20px;
	border-radius: 40px;
	background: #FFFFFF;
	border: 2px solid #000000;
	color: black;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.25s ease;
}

.endgame-btn:hover {
	color: #FFFFFF;
	background: #000000;
}

.endgame-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
	top: 0;
	left: 0;
}

.cheat {
	color: #F4F4F4;
}

/* helpers */

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.hidden {
	display: none;
}

/* non mobile */
@media only screen and (min-device-width: 840px) {
	h1 {
		font-size: 2.6rem;
	}

	.rules-toggle {
		font-size: 20px;
	}

	#mastermind {
		width: 405px;
	}

	.row {
		width: 260px;
	}

	.peg input[type="radio"] + label {
		width: 40px;
		height: 40px;
	}

	.submit {
		width: 20px;
		height: 5px;
	}

	.submit:before {
		left: 6px;
		width: 5px;
		height: 12px;
		border-width: 0 5px 5px 0;
		top: 50%;
	}

	.hints-row {
		width: 44px;
		margin-top: 0;
	}

	.hint {
		width: 10px;
		height: 10px;
	}

	.codepegs {
		width: 50px;
	}
}